@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-color: rgb(255, 87, 64);
  --blue-color: #0c2461;
  --font-family-barlow: Barlow, sans-serif;
  --font-family-josefin: josefin sans, sans serif;
}

.wrapper {
  width: 100vw - (100vw - 100%);
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
}

header {
  background-color: white;
  grid-area: header;
  display: grid;
  grid-template-areas:
    'topHeader'
    'mainMenu';
}

.top-header {
  grid-area: topHeader;
}

.top-header__container {
  font-family: var(--font-family-josefin);
  margin: 10px 40px 0px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 0.7px solid rgb(24, 24, 49, 0.3);
}

.top-header__cont-info {
  display: flex;
  justify-content: center;
  padding: 12px 0px 9px 0px;
}

.top-header__cont-info ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--blue-color);
}

.top-header__cont-info ul li {
  padding: 4px 0px;
}

.top-header__social {
  display: flex;
  margin: 0px 30px;
  justify-content: center;
  padding-bottom: 6px;
}

.top-header__social ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.top-header__social ul li {
  text-decoration: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  border: 1px solid var(--orange-color);
  border-radius: 5px;
}

.social-icon {
  color: var(--orange-color);
}

.contact-icon {
  padding: 0px 10px;
  color: var(--orange-color);
}

.main-menu {
  grid-area: mainMenu;
  width: 100%;
  top: 0;
}

.main-menu__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background-color: white;
}

.nav-bar-btn {
  font-size: 25px;
  color: white;
  padding: 7px 11px;
  border-radius: 5px;
  background: var(--orange-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-bar__container {
  display: none;
  justify-content: center;
  width: 100%;
}

.nav-bar__list {
  list-style: none;
  display: flex;
  padding: 25px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar__list li {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0px;
  font-family: var(--font-family-barlow);
}

.nav-bar__list li a {
  color: #000;
  text-decoration: none;
}

.active {
  display: flex;
}

.shop-now-btn {
  background-color: var(--orange-color);
  font-family: var(--font-family-barlow);
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
}

main {
  grid-area: main;
}

#hero-section {
  background-color: #fbd7b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 45px;
}

.hero-section__text h1,
.hero-section__text h5 {
  font-family: var(--font-family-josefin);
  text-align: center;
  padding-bottom: 30px;
}

.hero-section__text h5 {
  color: var(--orange-color);
  font-size: 18px;
}

.hero-section__text h1 {
  color: var(--blue-color);
  font-size: 40px;
}

.hero-section__text p {
  font-family: var(--font-family-barlow);
  text-align: center;
  color: #3c6382;
  font-size: 20px;
  padding-bottom: 40px;
}

.hero-section__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.hero-section__list span {
  font-family: var(--font-family-josefin);
  color: var(--blue-color);
  padding: 0px 20px;
  font-size: 24px;
}

.hero-section__img-container img {
  padding-top: 30px;
  max-width: 300px;
}

.about-product-section {
  background-color: rgb (255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 70px 40px;
}

.about-product-section__img-container {
  display: flex;
  justify-content: center;
}

.about-product-section__img-container img {
  max-width: 400px;
}

.about-product-section__text {
  padding: 30px 0px;
}

.section-name {
  color: var(--orange-color);
  font-size: 13px;
  padding-bottom: 40px;
  font-family: var(--font-family-josefin);
}

.section-text-p {
  font-family: var(--font-family-barlow);
  color: #3c6382;
  padding-bottom: 35px;
}

.section-heading {
  font-size: 40px;
  padding-bottom: 40px;
  font-family: var(--font-family-josefin);
  color: var(--blue-color);
}

.product-info {
  padding: 25px 0px;
}

.product-info__one {
  padding-right: 25px;
}

.product-info ul {
  list-style: none;
}

.product-info ul li {
  font-family: var(--font-family-josefin);
  color: var(--blue-color);
  font-size: 18px;
  line-height: 27px;
  padding: 7px 0px;
}

.check {
  color: var(--orange-color);
  padding-right: 5px;
}

#features-section,
.limited-time-section,
.newsletter-section,
.facilities-section,
#our-products-section {
  padding: 65px 50px;
  background-color: #f6f3ea;
}

.features-section__text,
.facilities-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features-section__features {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading-four {
  color: var(--blue-color);
  font-family: var(--font-family-josefin);
  font-size: 24px;
  padding: 20px 0px;
}

.features-icons {
  color: var(--orange-color);
  font-size: 40px;
}

.product-demo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-demo-section__text {
  text-align: center;
}

.product-demo-section__img-container {
  width: 100%;
  background-image: url(img3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.product-demo-video-container {
  background-color: var(--orange-color);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-demo-video-container::before {
  content: '';
  position: absolute;
  background: transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--orange-color);
  animation: pulse 1s infinite linear 0.5s;
}

.product-demo-video-container::after {
  content: '';
  position: absolute;
  background: transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--orange-color);
  animation: pulse-sec 1s infinite linear 0.5s;
  animation-delay: 0.3;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }

  25% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes pulse-sec {
  0% {
    transform: scale(0.3);
  }

  25% {
    transform: scale(0.55);
  }

  50% {
    transform: scale(0.85);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

.product-demo-video-container a {
  text-decoration: none;
}

.play-btn {
  color: white;
  font-size: 30px;
  position: relative;
}

.limited-time-section,
#popular-questions-section,
.newsletter-section,
.why-choose-section,
#our-products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.limited-time-section,
.popular-questions-section__text,
.newsletter-section,
.need-help-section__text,
.testimonials-section__text,
#our-products-section {
  text-align: center;
}

#popular-questions-section,
.why-choose-section,
.product-demo-section,
#need-help-section,
#testimonials-section {
  padding: 70px 50px;
}

.limited-time-section__img-container img {
  padding-top: 60px;
  max-width: 250px;
}

.client-testimonial-container {
  border: 3px solid #e6f0fa;
  padding: 50px 30px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-dots {
  display: flex;
  padding: 25px 5px;
  justify-content: center;
}

.testimonials-dots div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0px 7px;
  background-color: var(--blue-color);
}

.quote-icon {
  font-size: 45px;
  color: var(--orange-color);
}

.star-icon {
  color: #f0932b;
  font-size: 20px;
  margin: 0 2px;
}

.client-img {
  border-radius: 50%;
  height: 80px;
  margin: 30px 0px 20px 0px;
}

.client-name,
.our-product-name {
  font-family: var(--font-family-josefin);
  color: var(--blue-color);
  font-size: 28px;
  text-align: center;
}

.client-testimonial {
  font-family: var(--font-family-josefin);
  color: var(--blue-color);
  font-size: 15px;
  padding: 10px 0px;
  text-align: center;
}

#second-client,
#third-client,
#fourth-client {
  display: none;
}

.dot:hover {
  background-color: #717171;
}

.our-products-section__product-container {
  background-color: white;
  padding: 50px 30px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-section-img-box img {
  max-width: 240px;
}

.our-product-name {
  padding: 40px 0px 15px 0px;
}

.our-product-price {
  color: #3b04db;
  font-family: var(--font-family-josefin);
  font-size: 20px;
  padding: 15px;
}

.buy-now-btn {
  width: 150px;
}

.carousel-icons {
  margin: 35px 0px 10px 0px;
}

.arrow {
  color: var(--orange-color);
  font-size: 25px;
  background-color: white;
  padding: 10px;
  margin: 0px 8px;
  border-radius: 3px;
}

.pink-watch,
.green-watch {
  display: none;
}

.product-stars {
  color: #faea08;
  font-size: 18px;
  margin: 0px 2px;
}

.newsletter-section,
#need-help-section {
  width: 100%;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.newsletter-form button {
  border-radius: 0px 5px 5px 0px;
}

.newsletter-form input {
  border: 1px solid #ced4da;
  font-family: var(--font-family-barlow);
  color: #495057;
  background-color: #fff;
  border-radius: 2px 0px 0px 2px;
  height: 41.33px;
  width: 50%;
  padding-left: 5px;
}

.why-choose-section-img {
  max-width: 300px;
  padding-bottom: 30px;
}

.why-icons {
  color: var(--orange-color);
  font-size: 30px;
}

.why-choose-item {
  display: flex;
  padding: 15px 0px;
}

.why-text {
  font-family: var(--font-family-josefin);
  font-size: 22px;
  color: var(--blue-color);
  padding: 0px 20px;
  font-weight: normal;
}

.facilities-section-item {
  padding-bottom: 15px;
}

.facilities-icon {
  background-color: white;
  padding: 15px;
  border-radius: 3px;
}

.facilities-icon-container {
  margin-bottom: 15px;
}

.need-help-form {
  width: 100%;
  font-family: var(--font-family-josefin);
  font-weight: bold;
}

.need-help-form-item {
  width: 100%;
  color: var(--blue-color);
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-inp {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: 2px;
  padding-left: 8px;
  font-family: var(--font-family-josefin);
  font-size: 15px;
}

.messg-input {
  height: 140px;
  font-family: var(--font-family-josefin);
  padding-top: 8px;
}

.form-submit {
  width: 150px;
  margin-bottom: 15px;
}

.error-msg {
  color: var(--orange-color);
  padding-bottom: 15px;
  display: none;
}

.form-contacts-item h5 {
  text-align: left;
}

.form-contacts-icon {
  font-size: 20px;
}

.form-contacts-item h5 {
  font-family: var(--font-family-josefin);
  color: var(--blue-color);
  font-size: 17px;
  padding: 25px 0px 15px 0px;
}

footer {
  padding: 65px 0px 40px 0px;
  background-color: #f6f3ea;
  grid-area: footer;
}

.footer-top {
  padding-left: 50px;
  padding-right: 50px;
}

.footer-list {
  padding-bottom: 30px;
}

.footer-list-item {
  font-family: var(--font-family-barlow);
  color: var(--blue-color);
  font-size: 17px;
  font-weight: bolder;
  line-height: 27px;
  list-style: none;
  cursor: pointer;
  padding-bottom: 20px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  position: relative;
}

.subscribe-form input {
  border: 1px solid #ced4da;
  font-family: var(--font-family-barlow);
  color: #495057;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 15px;
  height: 60px;
  width: 90%;
}

.suscribe-btn {
  position: absolute;
  top: 8.5px;
  right: 45px;
  border-radius: 30px;
  font-weight: normal;
  width: 150px;
}

.footer-social h5 {
  padding-top: 40px;
  font-family: var(--font-family-josefin);
  font-size: 18px;
  color: var(--blue-color);
}

.footer-social ul {
  display: flex;
  list-style: none;
  margin: 30px 0px 35px 0px;
}

.social-icons {
  color: #000;
  background-color: white;
  padding: 12px;
  font-size: 30px;
  border-radius: 50%;
  margin: 0px 5px;
}

.footer-bottom {
  border-top: 1px solid grey;
  padding-top: 20px;
  text-align: center;
  font-family: var(--font-family-barlow);
  color: var(--blue-color);
}

.logo-footer img {
  margin-bottom: 20px;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .top-header__container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .top-header__cont-info ul {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .top-header__social {
    justify-content: flex-end;
    margin-right: 0px;
  }

  #hero-section {
    flex-direction: row;
  }

  .hero-section__text h5,
  .hero-section__text h1,
  .hero-section__text p {
    text-align: left;
  }

  .hero-section__list {
    justify-content: flex-start;
  }

  .about-product-section,
  .limited-time-section,
  .why-choose-section,
  .facilities-section {
    flex-direction: row;
  }

  .about-product-section__img-container {
    align-items: center;
    padding-right: 30px;
  }

  .about-product-section__img-container img {
    width: 200px;
    height: 147px;
  }

  .our-products-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
  }

  .product-info {
    display: flex;
  }

  .features-section__text {
    padding: 0px 65px;
    text-align: left;
    align-items: flex-start;
  }

  .features-section__features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feature {
    width: 50%;
    text-align: left;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .feature h4 {
    padding-left: 10px;
  }

  .feature p {
    width: 100%;
  }

  .product-demo-section__text,
  .popular-questions-section__text,
  .newsletter-section__text {
    width: 65%;
  }

  .limited-time-section__text {
    text-align: left;
    align-items: flex-start;
    padding: 0px 40px;
  }

  .testimonials-all-clients,
  .all-watches {
    display: flex;
  }

  .all-watches {
    display: flex;
    justify-content: center;
  }

  #second-client,
  .green-watch {
    display: flex;
    margin-left: 25px;
  }

  .dot-two {
    display: none;
  }

  .questions-container {
    display: flex;
    flex-wrap: wrap;
  }

  .question-item {
    width: 50%;
    padding: 0px 20px 0px 0px;
  }

  .why-choose-section__img-container img {
    max-width: 200px;
    margin-right: 45px;
  }

  .why-choose-info {
    padding: 0px 35px;
  }

  .facilities-section {
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .facilities-section-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .facility {
    padding-top: 0px;
  }

  .facilities-icon-container {
    margin-top: 12px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
  }

  .facilities-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  #need-help-section,
  .footer-top {
    display: flex;
    flex-wrap: wrap;
  }

  .need-help-section__text {
    width: 100%;
    text-align: start;
  }

  .need-help-section__text h6,
  .need-help-section__text h2,
  .need-help-section__text p,
  .need-help-form {
    width: 60%;
  }

  .form-contacts-container {
    margin-left: 35px;
  }

  .hero-box,
  .list-box-first,
  .list-box-second,
  .social-subscribe-box {
    width: 50%;
  }

  .list-box-first,
  .social-subscribe-box {
    padding-left: 25px;
  }

  .subscribe-form {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  #burger-btn {
    display: none;
  }

  .main-menu__container {
    flex-direction: row;
    padding: 15px 50px;
  }

  #full-menu {
    display: flex;
    justify-content: center;
    width: 70%;
  }

  .nav-bar__list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-bar__list li {
    font-size: 20px;
  }

  .about-product-section__img-container img {
    width: 600px;
    height: 396px;
  }

  .about-product-section__text {
    padding-right: 50px;
    padding-left: 50px;
  }

  .features-section__text {
    text-align: center;
    align-items: center;
  }

  .feature {
    width: 33.33%;
  }

  .limited-time-section {
    justify-content: space-between;
  }

  .limited-time-section__text {
    width: 60%;
  }

  .limited-time-section__img-container img,
  .why-choose-section__img-container img {
    max-width: 500px;
  }

  #third-client,
  .pink-watch {
    display: flex;
    margin-left: 25px;
  }

  .need-help-form {
    width: 70%;
  }

  .hero-box,
  .list-box-first,
  .list-box-second {
    width: 20%;
  }

  .suscribe-btn {
    right: 65px;
  }

  .social-subscribe-box {
    width: 40%;
  }
}
